.app_optionalconditions {
    display: flex;
    height: 92vh;
}

.first_column {
    width: 40%;
    text-align: left;
    padding: 0px 20px;
}

.second_column {
    width: 30%;
    text-align: left;
    padding: 0px 20px;
}

.third_column {
    width: 30%;
    text-align: left;
    height: 92vh;
    padding: 0px 20px;;
}

/* first column */
.student_sit_together {
    min-height: 40vh;
}

.student_sit_together_header {
    margin-left: 5px;
}

.dropdown_and_button {
    width: 100%;
}

.student_sit_together_dropdown {
    padding: 10px 0px 10px 5px;
    margin: 0px 10px 5px 0px;
    border-color: rgb(198, 198, 198);
    border-radius: 5px;
    width: 65%;
}

.student_sit_together_save_button {
    padding: 10px;
    background-color: rgb(255, 120, 1);
    border: 0;
    color: white;
    font-weight: 900;
    border-radius: 5px;
    width: 30%;
}

.group_names_container {
    display: flex;
    flex-direction: column;
}

.group_names {
    display: flex;
    flex-wrap: wrap;
    margin-right: 5px;
    font-size: 12px;
}

.group_names_temporary {
    display: flex;
    flex-wrap: wrap;
    min-height: 25px;
    font-size: 12px;
}

.group_names_container p {
    margin: 0;
}

.group_names_saved {
    max-height: 20vh;
    overflow-y: scroll;
}

.group_names_saved_sections {
    display: flex;
    margin-bottom: 10px;
}

.group_names_saved_sections_delete {
    width: 10%;
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}

.group_names_saved_sections_group_and_undo {
    width: 90%;
    display: flex;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.349);
}

.group_names_saved_sections_group {
    width: 90%;
}

.group_names_saved_sections_undo {
    display: flex;
    align-items: center;
}

/* second column */
.sit_in_front {
    min-height: 40vh;
}

.sit_in_front_header {
    margin-left: 5px;
}

.sit_in_front_dropdown {
    padding: 10px 0px 10px 5px;
    margin: 0px 10px 5px 0px;
    border-color: rgb(198, 198, 198);
    border-radius: 5px;
    width: 100%;
}

.sit_in_front_list {
    width: 100%;
    max-height: 25vh;
    overflow-y: scroll;
}

.sit_in_front_list_sections {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid rgba(128, 128, 128, 0.349);
}

.sit_in_front_list_names {
    width: 80%;
}

.sit_in_front_list_delete {
    width: 20%;
}

/* third column */
.last_class_maps_header {
    padding-left: 5px;
}

.class_maps_dropdown {
    padding: 10px 0px 10px 5px;
    margin: 0px 10px 5px 0px;
    border-color: rgb(198, 198, 198);
    border-radius: 5px;
    width: 100%;
}

.extra_options_diff_partner {
    margin: 20px 0px;
}

.extra_options_diff_seat {
    margin: 20px 0px;
}

.extra_options_place_manual_button {
    padding: 10px;
    background-color: rgb(255, 120, 1);
    border: 0;
    color: white;
    font-weight: 900;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 2vh;
}

.generate_map_button {
    padding: 10px;
    background-color: rgb(255, 120, 1);
    border: 0;
    color: white;
    font-weight: 900;
    border-radius: 5px;
    width: 100%;
}

.flexbox {
    display: flex;
    flex-direction: column;
    height: 92vh;
}

.item {
    order: 2;
    margin: 3px;
    height: 100%;
}