body {
  overflow: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  background-color: rgb(241, 241, 241);
  font-size: 1.2vw;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh !important;
}


.flexbox {
  flex-grow: 1;
}

.noGrow {
  flex-grow: 0;
}

button {	
  font-size: 1em;
	padding: 0.65em;
  margin: 0.3em;
	background-color: white;
  border: 0.15em solid rgba(255, 120, 1, 0.31);
	color: rgb(255, 120, 1);
	border-radius: 0.4em;
}

button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

button.orangeBg:disabled {
  background-color: rgba(255, 120, 1, 0.548);
  color: white;
  cursor: default;
}

button.active {
  color: white;
  background-color: rgb(255, 120, 1);
  font-weight: bold;
}

button.orangeBg {
  background-color: rgb(255, 120, 1);
  color: white;
}

.logo {
  margin: auto;
  text-align: center;
  max-width: 20em;
}

.center {
  text-align: center;
}

h1 {
  color: black;
}

h3 {
  color: rgb(255, 120, 1);
  margin: 0.3em;
  margin-top: 2em;
  margin-bottom: 0.8em;
}

h4 {
  font-size: 1em;
}

.black {
  color: black;
}


.bold {
  font-weight: bold;
}

select:focus, input:focus {
	outline: none;
}

select:hover, input:hover, button:hover:enabled {
  cursor: pointer;
  box-shadow: 0 0 0.8em rgba(33,33,33,.2);
  transition: 0.2s;
}

.disabled {
  opacity: 0.6;
  pointer-events: none;
}


.hidden {
  visibility: hidden;
}

select, input {
    font-size: 1em;
    padding: 0.65em;
    margin: 0.3em;
    border-color: rgb(198, 198, 198);
    border: 0.15em solid rgba(255, 120, 1, 0.31);
    border-radius: 0.4em;
    color: black;
}

select.orangeBg {
  background-color: rgb(255, 120, 1);
  color: white;
}

select.whiteBg {
  background-color: white;
  color: rgb(255, 120, 1);
}

input::placeholder {
  color: black;
}

label input {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

label:hover {
  cursor: pointer;
}

#checkbox {
  accent-color: rgb(255, 120, 1);
  color: white;
}

@media (min-width: 1600px) {
  #checkbox {
    transform: scale(1.5);
  }
}

.lastMap.disabled {
  opacity: 0.6;
  pointer-events: none;
}

.flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  text-align: left;
  padding: 0;
}

.flexbox.sortFromLeft {
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.aThird select {
  margin-left: 0;
  width: 100%;
}

.oneGroup {
  padding-bottom: 0.3em;
  margin-bottom: 0.8em;
  border-bottom: 0.1em solid rgba(128, 128, 128, 0.147);
  width: 100%;
  position: relative;
}


.fullHeight {
  height: calc(100vh - 3em); 
}

.fullWidth {
  width: 100%;
}


.aThird {
  width: 28vw;
  height: 45vh;
}

.autoHeight {
  height: 28vw;
  max-height: 40vh;
}

.item {
  order: 1;
}

/* EDIT CLASS */

.item.editClass {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editStudentBtn, .deleteStudentBtn, .editStudentInput {
  margin: 0;
  padding: 0.3em;
  margin-bottom: 0.2em;
  margin-left: 0.2em;
}

.editStudentInput {
  margin-left: 0;
}

.editClass {
  padding-left: 0.2em;
  background-color: transparent;
  border: 0;
}

.editClass li {
  margin-bottom: 0.2em;
  padding: 0.2em;
  background-color: transparent;
  margin-bottom: 0.3em;
  border-bottom: 0.1em solid rgba(243, 126, 8, 0.485);
}


/* -- edit class end -- */

.side {
  padding-top: 1em;
  margin-right: 2em;
  max-width: 20%;
  flex-grow: 1;
} 

.selectAndBtn {
  width: 100%;
  display: flex;
}

.selectAndBtn select {
  flex: 1;
  margin-right: 0.1em;
}

.selectAndBtn button {
  flex: 0 0 auto;
  margin-left: 0.1em;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.classesList {
  max-height: 250px; /* ISSUE */
  overflow-y: scroll;
}

.inputSearchSchool, .inputWriteStudentName {
  min-width: 16em;
}

.inputMapName {
  min-width: 12em;
}

.goBack {
  background-color: white;
  color: rgb(255, 120, 1);
  border: 0.15em solid rgba(255, 120, 1, 0.31);
}


ul {
  display: table;
  width: 90%;
  padding-left: 1em;
  list-style-type: none;
}

ul:hover {
  cursor: pointer;
}

li {
  border-bottom: 0.1em solid rgba(243, 126, 8, 0.485);
  background-color: white;
  padding: 0.5em;
  margin-bottom: 1.2em;
}

.student-name {
  flex-grow: 1;
}

.studentGroup {
  margin-left: -0.6em;
  width: 100%;
}

.studentGroup p {
  margin-top: 0;
}

.studentGroup p span {
  color: rgb(255, 120, 1);
}

.studentGroup li {
  background-color: rgb(241, 241, 241);
  display: inline-block;
  border-bottom: 0;
  padding: 0;
  margin: 0;
}

.groupFirstBox, .groupSecondBox{
  max-height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* ------ CONCRETE STYLING ------ */

.heightTwoEm {
  height: 2em;
}

.heightTwoEm p {
  margin-left: 0.6em;
  margin-top: 0.3em;
  height: inherit;
}

.paddingOneEm {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.bottomRight{
  position: relative;
}

.bottomRight button {
  position: absolute;
  right: 0;
  bottom: 0;
}

.smallMarginTop {
  margin-top: 1em;
}

.smallMarginBottom {
  margin-bottom: 1em;
}

.negMarginLeft {
  margin-left: -0.3em;
}

.minWidth30 {
  min-width: 30vw;
}

/* ----- concrete styling end -------- */


/* --------- ICONS ------------- */

.icon {
  font-size: 1.3em;
  max-height: 1em;
  width: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: inherit;
}


.deleteIcon {
  margin-left: 0.4em;
  margin-right: 0.5em;
  color: red;
}

.removeIcon {
  margin-left: 1em;
  right: 0;
  position: absolute;
  font-weight: 600;
  color: orange;
}

.confirmIcon {
  margin-left: 1em;
  font-weight: bold;
  color: green;
}

/* ------- icons end ------------ */
